body {
    margin: 0;
    padding: 0;
    font-family:Nunito, Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow: hidden; 
}

/* header */
.header {
    width: 100%;
    height: 70px;
    position: fixed;
    margin: 0px auto;
    background: #2C3E50;
    top: 0;
}

.statusPostingSystem-heading {
    position: absolute;
    font-size: 30px;
    color: white;
    left: 10%;
    margin-top: 15px;
}

.navigationBar {
    position: absolute;
    right: 10%;
    display: inline-flex;
    list-style-type: none;
    margin-top: 25px;
}

.headerLink {
    text-decoration: none;
}

.navigationBarList {
    margin-right: 30px;
}

.navigationBarList a {
    color: white;
    cursor: pointer;
}

.navigationBarList a:hover {
    color: #18BC9C;
}

.current {
    color: #18BC9C; 
}

/* Container */
.statusPostingSystem-container {
    position: absolute;
    margin-top: 70px;
    background-color: #18BC9C;
    height: 100%;
    width: 100%;
}

/*Index Page*/
.infoWrapper {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.webAssignment {
    text-align: center;
    font-size: 45px;
    color: #2C3E50;
}

.star-light {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
    border-color: #fff;
}

.info-details {
    text-align: center;
    color: white;
}

.info {
    font-size: 21px;
}

.myDetails {
    font-size: x-large;
}

.tick {
  color: #2C3E50;
  font-size: 20px;
}

.declaration {
    color: #2C3E50;
}

/*postStatusForm */
.postStatus-form {
    margin: 10px auto;
    background: #eee;
    border-radius: 8px;
    color: #384047;
    padding:15px 20px;
    max-height: 50%
}

.postStatusFormHeading{
    color: #2C3E50;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}

.postStatusFormSpacing {
    margin-top: 25px;
    
}
.postStatusForm-label {
    display: flex;
    margin-bottom: 5px;
}

.postStatusForm-input {
    border: none;
    font-size: 16px;
    height: 0;
    margin: 0;
    padding: 15px;
    width: 91%;
}

.postStatusFormButton {
    width: 49%;
    height: 30px;
    background-color: #18BC9C;
    font-color: white;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.postStatusFormButton:hover{
    color: #2C3E50;
}

.postStatusLink a {
    color: #2C3E50;
}

/*searchStatusForm*/
.searchStatus-Form {
    margin: 10px auto;
    background: #eee;
    border-radius: 8px;
    color: #384047;
    padding: 15px 20px;
}

.searchStatusFormSpacing {
    margin-top: 2%;
}

/*about page*/
.infoWrapperAbout{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 50%;     
}